<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script src="/js/app/index.js"></script>
<!-- html 코드는 위에서부터 아래로 실행되기 때문에 css로 화면을 그린 후 나중에 js 코드가 실행된다. -->
</body>
</html>
